<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>upFile</servlet-name>
        <servlet-class>com.huazai.controller.uploadeFileAndGetProgress.UpFileController
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProgress</servlet-name>
        <servlet-class>com.huazai.controller.uploadeFileAndGetProgress.ProgressServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eTest</servlet-name>
        <servlet-class>com.huazai.controller.TryCatchUploadeExceptionController
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>upFile</servlet-name>
        <url-pattern>/upFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProgress</servlet-name>
        <url-pattern>/getProgress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eTest</servlet-name>
        <url-pattern>/eTest</url-pattern>
    </servlet-mapping>
</web-app>
